*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #171717;
    color: #ffffff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(20,0,0,1)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 5%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a:after {
    content: '';
    width: 0;
    height: 3px;
    background: #DA0037;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover:after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #860111;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*===================About===============*/

#about {
    padding: 80px 0;
    color: #EDEDED;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1 {
    flex-basis: 20%;
}

.about-col1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col2 {
    flex-basis: 75%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links:after {
    content: '';
    width: 0;
    height: 3px;
    background: #DA0037;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}

.active-link:after {
    width: 75%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #DA0037;
    font-size: 18px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.btn.btn2 {
    background: #DA0037;
}

/*===================Portfolio===============*/

#portfolio {
    padding: 4% 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    grid-gap: 0.5%;
    margin-top: 3%;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(transparent, #444444);
    border-radius: 2%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    font-size: 100%;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 5%;
    font-size: 120%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.layer span {
    color: #DA0037;
    display: inline-block;
}

.layer a {
    margin-top: 20%;
    color: #DA0037;
    text-decoration: none;
    font-size: 250%;
    line-height: 60%;
    /*    border-radius: 50%;*/
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover video {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #DA0037;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #EDEDED;
    transition: background 0.5s;
}

.btn:hover {
    background: #DA0037;
}

/*------contact--------*/

.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    margin-right: 15px;
    font-size: 25px;
    color: #EDEDED;
    transition: transform 0.5s;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #EDEDED;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #DA0037;
    transform: translateY(-5px);
}

@media only screen and (max-width: 600px){
    #header {
        background-image: url(images/icon.png);
    }
}